# This is a basic workflow to help you get started with Actions

name: Pester

on:
  schedule:
    - cron: "30 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BASE_URL: ${{ vars.BASE_URL }}
    steps:
      - uses: actions/checkout@v4
      - name: Start
        run: echo "Starting Pester"
      - name: Make scripts executable
        run: chmod +x run_all_scripts.sh
      - name: Run curls
        run: ./run_all_scripts.sh
      - name: End
        run: echo "Ending Pester"
